#detalle{
  font-size: 20px;
}

.main-list{
  margin-top: 9% 
}

/*Portada*/

/* Slideshow container */
.slideshow-container {
  margin-top: 12vh;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.imgSlides{
  width: 100vw;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*Contenedor - contenido del articulo*/


.bannersImg{
  width: 45%;
}

.banners{
  display: flex;
    justify-content: space-around;
    margin: 3% 0;
    flex-direction: row;
    
}


.row{
    text-align: center;
}

/* Responsive Design - adaptable a dispositivos moviles*/


@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    
.container-ofertas{
    background-color: aquamarine;
    margin: 12rem;
    display: inline-block;
    font-size: 50px;
}
}


.column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .price{
    color:sandybrown;
  }

  .banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 31%;
  }

  @media screen and (max-width: 1000px){
    .column {
        width: 50%;
    }
    .main-list{
      margin-top: 14% 
    }
    

    .banners{
      flex-direction: column;
      padding: 2%
    }

    .bannersImg{
      width: 100%;
      margin-bottom: 2%
    }

  }
 
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
    .main-list{
      margin-top: 23% 
    }
    .banner {
      display: none}
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
   
  }
  
  .card-list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  
  
  /* Some left and right padding inside the container */
  .containerProduct {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .containerProduct::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    font-weight: bold;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    background:#00C0FF ;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 3%;
  }
  
  .button:hover {
    background:#00C0FF ;
    color: #FFF;
  }