*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

main{
    padding-top: 85px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/home-1416381_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.text-danger{
  color: red;
  font-weight: bold;
  
}

.formulario{
    
    margin: 5%;
}
.formulario{
    background-color: rgba(250, 255, 255, .75);
    padding:32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario input, select{
    outline: none;
    font-size: 32px;
    padding:0px 8px;
    border-radius: 36px;
    border: black 1px solid;
    margin-top: 16px;
    
}
.formulario input[type="file"]{
    font-size: 16px;
}

#color{
  padding: 0px 20px;
}

#brand{
  padding: 0px 11px;
}


.boton{
    FONT-WEIGHT: bold;
    background: #FFF;
    color: #00C0FF;
     width: 76%;
      padding: 10px;
      margin: 20px 0px;
      border-radius: 36px;
      border: black 1px solid;
      box-shadow:10px 10px 30px -4px rgb(168, 167, 167);
      transition: 150ms
  }
  .boton:hover{
    background:#00C0FF ;
    color: #FFF;
    cursor:pointer;
  }

  textarea.form-input {
    width: 20vw;
    height: 5vw;
    resize: horizontal;
    padding: 10px;
  }

  .form-label-1 {
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0;
    position: relative;
    left: 22%;
  }
  .form-label-2 {
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0;
    position: relative;
    left: 30%;
  }

  .products-title{    
    color: coral;
    }


    .botonGuardar{
        FONT-WEIGHT: bold;
        background: #FFF;
        color: #00C0FF;
          padding: 10px;
          margin: 20px 0px;
          border-radius: 36px;
          border: black 1px solid;
          box-shadow:10px 10px 30px -4px rgb(168, 167, 167);
          transition: 150ms
      }
      .botonGuardar:hover{
        background:#00C0FF ;
        color: #FFF;
        cursor:pointer;
      }

      .category{
        display: flex;
        flex-direction: column;
        
      }

      