
main{
    padding-top: 85px;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/home-1416381_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    
}

.formulario{
    
    margin: 5%;
}
.formulario{
    background-color: rgba(250, 255, 255, .75);
    padding:32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario input{
    border: none;
    outline: none;
    font-size: 32px;
    padding:0px 8px;
    border-radius: 36px;
    border: black 1px solid;
    margin-top: 3px;
}


.boton{
    FONT-WEIGHT: bold;
    background: #FFF;
    color: #00C0FF;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 36px;
    border: black 1px solid;
    box-shadow:10px 10px 30px -4px rgb(168, 167, 167);
    transition: 150ms
  }
  .boton:hover{
    background:#00C0FF ;
    color: #FFF;
    cursor:pointer;
  }

  .text-danger{
    color: red;
    font-weight: bold;
    
  }

  .olvidaste{
      margin-left: 144px;
      color: #00C0FF;
  }

  .olvidaste:hover{
      color:#FF9B54
  }

  .form-check-label{
  position: relative;
  right: 21%;
  font-size: 1.3rem;
  color: coral;
  font-weight: bold;
  }


#notEye{
    display: none;
}

#notEye, #eye{
    cursor: pointer;
    position: absolute;
    margin-top: 17px;
    margin-left: -30px;

}