*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

main{
    padding-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/cocina.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.formulario{
    
    margin: 5%;
}
form{
    background-color: rgba(250, 255, 255, .75);
    padding:32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    border: none;
    outline: none;
    font-size: 32px;
    padding:0px 8px;
    border-radius: 36px;
    border: black 1px solid;
    margin-top: 16px;
    transition: all .3s ease-in-out;
}
input[type="file"]{
    font-size: 15px;
}

input:focus{
background-color: #FF9B54;
color: snow;
}
.boton{
    FONT-WEIGHT: bold;
    background: #00C0FF;
    color: #FFF;
     width: 50%;
      padding: 10px;
      margin: 20px 0px;
      border-radius: 36px;
      border: black 1px solid;
      transition: 150ms
  }
  .boton:hover{
    background: rgb(0, 72, 226);
    cursor:pointer;
  }