<!DOCTYPE html>
<html>
  <head>
    <%-include ('../partials/head') %>
    <link href='/css/producto.css' rel="stylesheet">
  </head>
    
   
  
<body>

   
  <%-include ('../partials/header') %>
    
    <main class="main">
    

    <div class="contenedor">
      <div class="poducto">
       <img class="imagen"      src="https://d34zlyc2cp9zm7.cloudfront.net/products/8b4ee385a850cd2ae2e16f74d9a332d5e27aa3ac17e9535ce6793b53646de69c.webp_500" alt="Batidora">
       <div class="columna">
       <h1>Batidora Smart-Tek Kitchen assist Rojo</h1>
       <br>
       <ul>
       <li>
         <h3>Caracteristicas generales</h3>
         <div>
           <div class="detalle1">
            <div class="specName">Potencia</div>
            <div class="specValue">650W</div>
           </div>
           <div class="detalle2">
            <div class="specName">Nivel de Velocidad</div>
            <div class="specValue">6</div>
           </div>
           <div class="detalle3">
            <div class="specName">Capacidad del bowl</div>
            <div class="specValue">4 litros</div>
           </div>
           <div class="detalle4">
            <div class="specName">Accesorios</div>
            <div class="specValue">Amasador</div>
           </div>
         </div>
       </li>

       </ul>
       <br>

       <h2>$15.499</h2>
        <form action="/" method="get">
          <button class="botonDeCompra" type="submit" value="Comprar"><h3>Comprar</h3></button>
       </form>
       </div>
      </div>
    </div>

    </main>

   <!-- footer -->
      <%-include ('../partials/footer') %> 
    <!-- footer -->

  <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    
  </body>



</html>
