<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ('../partials/head') %>
        <link rel="stylesheet" href="/css/login.css">
      </head>
 
<body>

    
    <%-include ('../partials/header') %>

    

<main class="login">
        <form class="formulario" action="/usuario/acceder" method="POST">
            <div> <input class="user" type="text" name="user" placeholder="Nombre de usuario">
                <br>
            
        </div>

        <% if (locals.errors && errors.user) { %>
            <div class="text-danger">
                <%= errors.user.msg %>
            </div>
        <% } %>
        
        
            <a class="olvidaste" href="#"> ¿olvidaste tu contraseña? </a>

            <div> <input class="user" type="password" name="pass" placeholder="Contraseña"> </div>
            <br>
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
            </label>

            <button class="boton" type="submit" value="Enviar"> Enviar </button>
        </form>
    </main>
   
    	

        <!-- footer -->
      <%-include ('../partials/footer.ejs') %> 
    <!-- footer -->
        
    

        
</body>
</html>
