<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ('../partials/head') %>
        <link rel="stylesheet" href="/css/login.css">
      </head>
 
<body>

    
    <%-include ('../partials/header') %>

    

<main class="login">
        <form class="formulario" action="/" method="POST">
            <input class="user" type="text" name="user" placeholder="Nombre de usuario">
            <br>
            <br>
            <a class="olvidaste" href="#"> ¿olvidaste tu contraseña? </a>
            <input type="password" name="pass" placeholder="Contraseña">

            <button class="boton" type="submit" value="Enviar"> Enviar </button>
        </form>
    </main>
   
    	

        <!-- footer -->
      <%-include ('../partials/footer.ejs') %> 
    <!-- footer -->
        
    

        <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
        <script src="js/script.js"></script>
</body>
</html>
