<!DOCTYPE html>
<html lang="en">
  
<head>
  <%-include ('partials/head') %>
  <link rel="stylesheet" href="/css/carrito.css">
</head>    

<body>
    <%-include ('partials/header') %>  
    <main>
     <h1 class="titulo">Mi Carrito</h1>
     <br>

    <div class="contenedor">
    <div class="producto" id="producto">
      <a class="vaciar" href="/carrito">Vaciar Carrito</a>
    </div>
    <div class="final">
        <div class="detalle1">
            <div class="specName"><h4 class="subTotal">Subtotal</h4></div>
            <div class="specValue" id="subTotal">$0</div>
           </div>
           <div class="detalle2">
            <div class="specName"><h1 class="tituloTotal" >Total</h1></div>
            <div class="specValue" id="total">$0</div>
           </div>
           <form action="/checkout">
            <button  class="boton" type="submit" value="Comprar">FINALIZAR COMPRA</button>
          </form>
          <form action="/" method="get">
            <button  class="boton" type="submit" value="SeguirComprando">CONTINUAR COMPRANO</button>
          </form>
    </div>
</div>
</main>

   <!-- footer -->
      <%-include ('partials/footer') %> 
    <!-- footer -->

   <script src="js/carrito.js"></script>
</body>
</html>
