<!DOCTYPE html>
<html lang="en">
<head>
  <%-include ('partials/head.ejs') %>
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>

    <!--Header - menu-->
    <%-include ('partials/header.ejs') %>
    
    <main class="main">
<!--Portada-->

<div class="container-all" id="move-content">
  <div class="container-cover">
    <div class="container-info-cover">
        <h1>¡Todo para tu cocina!</h1>
        <p>En FullHouse tenemos todo para tu cocina!</p>
    </div>
</div>

<h2>Mira Nuestras Ofertas Destacadas!</h2>
<div class="content-all">
    <div class="content-carrousel">
        <figure><img src="img/HELADERA.jpg"></figure>
        <figure><img src="img/MICROONDAS1.webp"></figure>
        <figure><img src="img/COCINA.png"></figure>
        <figure><img src="img/FREEZER.png"></figure>
     
    </div>
</div>
<h2 class="texto-oferta">Ofertas de la semana!</h2>

 
      <div class="container">
        <div class="item">
          <img src="img/liliana_batidoras_powermix1-79018ba5901630aad615536427824834-640-0.png" alt="Cafetera" class="item-img">
          <div class="item-text">
            <h3>Cafetera</h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
        
        <div class="item">
          <img src="img/horno electrico.png" alt="Horno" class="item-img">
          <div class="item-text">
            <h3>Horno Electrico </h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
        
        <div class="item">
          <img src="img/hornotophouseoferta.png" alt="Horno" class="item-img">
          <div class="item-text">
            <h3>Horno Electrico TopHouse</h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
        
        <a href="/producto"><div class="item">
          <img src="img/Cafetera.jpg" alt="Batidora" class="item-img">
                         <div class="item-text">
            <h3>Smart-Tek Kitchen</h3>
            <p>tocame que voy al producto</p>
          </div>
        </div> </a>
        
        
        <div class="item">
          <img src="img/microondas.png" alt="Microondas" class="item-img">
          <div class="item-text">
            <h3>Microondas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
        
        <div class="item">
          <img src="img/minipimeroferta.png" alt="Minipimer" class="item-img">
          <div class="item-text">
            <h3>Minipimer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
      </div>
    </main>

    
        <!-- footer -->
      <%-include ('partials/footer.ejs') %> 
    <!-- footer -->
   

    
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    
    
</body>
</html>
