<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial -scale=1">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/Diseño/Logotipos/Imagenes/FullHouse-Icono.ico">
        <title>FullHouse</title>
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
        <a href="#" class="logo"><img src="/Diseño/Logotipos/Imagenes/FullhouseV7.png"> </a>        
        <span class="menu-icon">ver menu</span>
        <nav class="navigation">
            <ul>
           <li><a href="#">Inicio</a></li>
           <li><a href="#">Registrarse</a></li>
           <li><button><a href="#"><i class="fas fa-shopping-cart"></i></a></button></li>
        </ul>
        </nav>
    </div>
    <div class="buscar">
        <input type="text" placeholder="buscar"required>
        <div class="btn">
            <i class="fas fa-search icon"></i>
        </div>
    </div>
      
    </header>
    <main class="main">

        <div class="container">
            <h1>Ofertas semanales de FullHouse</h1>
            <ul class="slider">
                <li id='slider1'><img src="/Diseño/imagenes/Cafetera.jpg"></li>
                <li id='slider2'><img src="/Diseño/imagenes/horno electrico.png"></li>
                <li id='slider3'><img src="/Diseño/imagenes/liliana_batidoras_powermix1-79018ba5901630aad615536427824834-640-0.png"></li>
                <li id='slider4'><img src="/Diseño/imagenes/microondas.png"></li>

            </ul>

            
            <ul class="menu-slider">
                <li><a href="#slider1">1</a></li>
                <li><a href="#slider2">2</a></li>
                <li><a href="#slider3">3</a></li>
                <li><a href="#slider4">4</a></li>
            </ul>
        </div>
        

    </main>
<footer class="footer">
    <div class="container">
    <p>Pagina diseñada por @Equipo7</p>
</div>
</footer>
<script src="https://kit.fontawesome.com/61891375e2.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/Web/scripts.js"></script>


</body>
</html>