<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial -scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">


    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/Diseño/Logotipos/Imagenes/FullHouse-Icono.ico">
        <title>FullHouse</title>
</head>
<body>
    <header class="header">
        <div class="logo-nav-container">
        <a href="/" class="logo"><img src="images/FullhouseV7.png"> </a>        
        <span class="menu-icon">ver menu</span>
        <nav class="navigation">
            <ul>
           <li><a href="/login">Logeate</a></li>
           <li><a href="/register">Registrarse</a></li>
           <li><button><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></button></li>
          
        </ul>
        </nav>
    </div>
    <div class="buscar">
        <input type="text" placeholder="buscar"required>
        <div class="btn">
            <i class="fas fa-search icon"></i>
        </div>
    </div>
      
    </header>
    <main class="main">

        <div class="container">
            <h1>Ofertas semanales de FullHouse</h1>
            <ul class="slider">
                <li id='slider1'><img src="images/Cafetera.jpg" ></li>
                <li id='slider2'><img src="images/horno electrico.png"></li>
                <li id='slider3'><img src="images/liliana_batidoras_powermix1-79018ba5901630aad615536427824834-640-0.png"></li>
                <li id='slider4'><img src="images/microondas.png"></li>

            </ul>
        
            
            <ul class="menu-slider">
                <li><a href="#slider1">1</a></li>
                <li><a href="#slider2">2</a></li>
                <li><a href="#slider3">3</a></li>
                <li><a href="#slider4">4</a></li>
            </ul>
        </div>
        <div class="ofertas">
            <h1>Ofertas del dia</h1>
            <ul class="listaoferta">
                <li id="listaOferta1"><img src="images/minipimeroferta.png"width="150" height="150"></li>
                <li id="listaOferta2"><img src="images/sandwicheraoferta.png"width="150" height="150"></li>
                <li id="listaOferta3"><img src="images/wafleraoferta.png"width="150" height="150"></li>
                <li id="listaOferta4"><img src="images/hornotophouseoferta.png"width="150" height="150"></li>
            </ul>
        </div>

    </main>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <p class="contacto">
                    CONTACTO
                </p>
                <p class="titulo-contacto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione repudiandae nulla fugit modi, aliquid, delectus dolore dicta adipisci eos esse corrupti rerum saepe blanditiis illum laudantium. At, quidem. Veniam, impedit.
                </p>
            </div>
             
            </div>
            
        </div>
    </div>
</div>
<div id="pie-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="titulo-footer">Copyright 2021 All rights reserved | This template is mode with  <span class="span-subtitulo">By Equipo7</span></p>
                <p>
                    <i class="fas fa-map-marker-alt" id="localizacion"></i>
                </p>
            </div>
        </div>
    </div>
</div>




<script src="https://kit.fontawesome.com/61891375e2.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/Web/scripts.js"></script>


</body>
</html>