<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial -scale=1">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>FullHouse</title>
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
        <a href="#" class="logo"><img src="/Diseño/Logotipos/Imagenes/FullhouseV7.png"> </a>
        <span class="menu-icon">ver menu</span>
        <nav class="navigation">
            <ul>
           <li><a href="#">Inicio</a></li>
           <li><a href="#">Registrarse</a></li>
        </ul>
        </nav>
    </div>
    </header>
    <main class="main">

        <div class="container">
            <h1>Bienvenidos a FullHouse</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus ipsum rem neque necessitatibus nobis, provident eos fugit
                 laudantium amet praesentium in! Ullam asperiores id cumque fuga a mollitia excepturi?</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus ipsum rem neque necessitatibus nobis, provident eos fugit
                    laudantium amet praesentium in! Ullam asperiores id cumque fuga a mollitia excepturi?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus ipsum rem neque necessitatibus nobis, provident eos fugit
                        laudantium amet praesentium in! Ullam asperiores id cumque fuga a mollitia excepturi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus ipsum rem neque necessitatibus nobis, provident eos fugit
                            laudantium amet praesentium in! Ullam asperiores id cumque fuga a mollitia excepturi?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus ipsum rem neque necessitatibus nobis, provident eos fugit
                                laudantium amet praesentium in! Ullam asperiores id cumque fuga a mollitia excepturi?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus ipsum rem neque necessitatibus nobis, provident eos fugit
                                    laudantium amet praesentium in! Ullam asperiores id cumque fuga a mollitia excepturi?</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus ipsum rem neque necessitatibus nobis, provident eos fugit
                                        laudantium amet praesentium in! Ullam asperiores id cumque fuga a mollitia excepturi?</p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus ipsum rem neque necessitatibus nobis, provident eos fugit
                                            laudantium amet praesentium in! Ullam asperiores id cumque fuga a mollitia excepturi?</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus ipsum rem neque necessitatibus nobis, provident eos fugit
                                                laudantium amet praesentium in! Ullam asperiores id cumque fuga a mollitia excepturi?</p>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus ipsum rem neque necessitatibus nobis, provident eos fugit
                                                    laudantium amet praesentium in! Ullam asperiores id cumque fuga a mollitia excepturi?</p>
        </div>


    </main>
<footer class="footer">
    <div class="container">
    <p>Pagina diseñada por @Equipo7</p>
</div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/Web/scripts.js"></script>


</body>
</html>