<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FullHouse</title>
    
    <link rel="icon" href="img/FullHouse-Icono.ico">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/carrito.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>

    <!--Header - menu-->
    <header>
  

        <div class="header-content">

            <div class="logo">
                <img src="/img/FullhouseV7.png" class="logotipo">
                
            </div>

            <div class="menu" id="show-menu">

                <nav>
                    <ul>
                        <li><a href="/"> <i class="fas fa-home"></i> Inicio</a></li>
                        <li><a href="/login"> <i class="fas fa-user"></i></i>Logeate</a></li>
                        <li class="menu-selected"><a href="/register" class="text-menu-selected"> 
                            <i class="fas fa-file-alt"></i>Registrate</a></li>
                            <li><a href="/productCart"></a><i class="fas fa-shopping-cart icono_carrito"></i></a></li>
                    </ul>  
                </nav>

            </div>

        </div>

        
        <img src="img/FullHouse-Icono.ico" alt="" class="logoPequeño">
        
        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="box">
          <div class="container-1">
              <span class="icon"><i class="fa fa-search"></i></span>
              <input type="search" id="search" placeholder="Click para buscar..." />
          </div>
        </div>
    
    </header>
    
    <main class="main">
<!--Portada-->

<div class="container-all" id="move-content">
  <div class="container-cover">
    <div class="container-info-cover">
        <h1>¡Todo para tu cocina!</h1>
        <p>En FullHouse tenemos todo para tu cocina!</p>
    </div>
</div>

<h2>Mira Nuestras Ofertas Destacadas!</h2>
<div class="content-all">
    <div class="content-carrousel">
        <figure><img src="img/HELADERA.jpg"></figure>
        <figure><img src="img/MICROONDAS1.webp"></figure>
        <figure><img src="img/COCINA.png"></figure>
        <figure><img src="img/FREEZER.png"></figure>
     
    </div>
</div>
<h2 class="texto-oferta">Ofertas de la semana!</h2>

 
      <div class="container">
        <div class="item">
          <img src="img/liliana_batidoras_powermix1-79018ba5901630aad615536427824834-640-0.png" alt="Cafetera" class="item-img">
          <div class="item-text">
            <h3>Cafetera</h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
        
        <div class="item">
          <img src="img/horno electrico.png" alt="Horno" class="item-img">
          <div class="item-text">
            <h3>Horno Electrico </h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
        
        <div class="item">
          <img src="img/hornotophouseoferta.png" alt="Horno" class="item-img">
          <div class="item-text">
            <h3>Horno Electrico TopHouse</h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
        
        <a href="/producto"><div class="item">
          <img src="img/Cafetera.jpg" alt="Batidora" class="item-img">
                         <div class="item-text">
            <h3>Smart-Tek Kitchen</h3>
            <p>tocame que voy al producto</p>
          </div>
        </div> </a>
        
        
        <div class="item">
          <img src="img/microondas.png" alt="Microondas" class="item-img">
          <div class="item-text">
            <h3>Microondas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
        
        <div class="item">
          <img src="img/minipimeroferta.png" alt="Minipimer" class="item-img">
          <div class="item-text">
            <h3>Minipimer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
      </div>
    </main>

    
        <!-- footer -->
      <%-include ('partials/footer.ejs') %> 
    <!-- footer -->
   

    
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    
    
</body>
</html>
