<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
      
    <title>Login</title>
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo"><img src="images/FullhouseV7.png"> </a>        
        </div>

    </header>

    <main class="login">
        <form action="/" method="POST">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="password" name="pass" placeholder="Contraseña">
            <input type="submit" value="Enviar">
        </form>
    </main>
    <footer>
footer
    </footer>
    
    
</body>
</html>