<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
      
    <title>Login</title>
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
        <a href="/" class="logo"><img src="images/FullhouseV7.png"> </a>        
        <span class="menu-icon">ver menu</span>
        <nav class="navigation">
            <ul>
           <li><a href="/login">Logeate</a></li>
           <li><a href="/register">Registrarse</a></li>
           <li><button><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></button></li>
        </ul>
        </nav>
    </div>
    <div class="buscar">
        <input type="text" placeholder="buscar"required>
        <div class="btn">
            <i class="fas fa-search icon"></i>
        </div>
    </div>
      
    </header>

    <main class="login">
        <form action="/" method="POST">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="password" name="pass" placeholder="Contraseña">
            <input type="submit" value="Enviar">
        </form>
    </main>
   
<footer class="footer">
    <div class="container">
    <p>Pagina diseñada por @Equipo7</p>
</div>
</footer>
<script src="https://kit.fontawesome.com/61891375e2.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/Web/scripts.js"></script>
    </div>
    </footer>
    
    
</body>
</html>