<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/register.css">
      </head>
    
   
<body>

    <!--Header - menu-->
    <%-include ('partials/header.ejs') %>

<main class="register">
    <div class="formulario">
    <form action="/" method="POST">
        
        <input type="text" name="name" placeholder="Nombre y apellido">
        <input type="text" name="user" placeholder="Nombre de usuario">
        <input type="email" name="email" placeholder="E-mail">
        <br>
        <label for="birth_date"><h3>Fecha de nacimiento</h3></label>
        <br>
        <input type="date" name="birth_date" id="birth_date">
        <br>
        <input type="text" name="addres" placeholder="Domicilio">
        <br>
        <br>
        <br>
       
        <h3>Elegí tu foto de usuario</h3>
        <input type="file" name="avatar">
        <br>
        <br>
        <input type="password" name="pass" placeholder="Elegí tu contraseña">
        <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
        <br>
        <br>
        <button class="boton" type="submit" value="Enviar">Enviar</button>
        <button class="boton" type="reset" value="Borrar">Borrar</button>
        <br>
        <br>
    </form>
</div>
</main>
    
   

        <!-- footer -->
      <%-include ('partials/footer.ejs') %> 
    <!-- footer -->

    
        <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
        <script src="js/script.js"></script>

</body>
</html>
