
body{
    background: #ff9b54;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0px;

}

h1{
    font-size: 2rem;
    line-height: 1.3em;

}
p{
    margin-bottom: 1.6em;
}

.container{
    width: 85%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    
}

.container ul{
    list-style: none;
    margin: 0px;    
    padding: 0px;
}
ul.slider{
    position: relative;
    width: 800px;   
    height: 300px;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 800px;
    height: 300px;
    background-color: #ff9b54;
    transition: opacity .5s;
}
ul.slider li img{
    width:40rem;
    height: 300px;
    object-fit: cover;
    
}
/*aca estamos editando el first child ' el primer hijo'*/
ul.slider li:first-child{
    opacity: 1;
}
ul.slider li:target{
opacity: 1;
}
.menu-slider{
    text-align: center;
    margin: 20px;
}
.menu-slider li{
    display: inline-block;
    text-align: center;
}
.menu-slider a{
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: tomato;
    padding: 10px;  
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.header{
    background: #ff7f51;
    color: black;
    padding: 2rem 0;

    /* cabezera fija */
    position: fixed;
    left:0 ;
    top: 0;
    right: 0;
}

    .header a{
        color:black;
        text-decoration:none ;
     }

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    letter-spacing: 5px;
    font-size: 1.2em;
}
.menu-icon{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li {
        display: inline-block;
    }
    .navigation ul li a {
        display: block;
        padding: 1rem 1.3rem;
        transition: all 0.4s linear;
        border-radius: 20px;
        
    }
.navigation ul li button{
    background:#ff7f51 ;
    border: 0;
    margin-left: 2rem;
}

    .navigation ul li a:hover{
        background: #ff9b54;
    }

    .main{
        padding-top: 10rem;
    }
    .footer {
    background:#ff7f51 ;
    text-align: center;
    padding: 0.5rem;
        margin:0px;
        left:0px ;
        top: 0px;
        right: 0px;
}

@media only screen and (max-width:767px){
    
.menu-icon{
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;

}
    .navigation{
        width: 100%;
        margin: 1rem;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
    .navigation ul li {
        display: block;
    }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 1.3rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .navigation ul li a:hover{
        background: #ff9b54;
    }

    .main{
        padding-top: 10rem;

        }
    }

    