<footer class="footer-agency">
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-brand">
                <h3>FullHouse</h3>
                <p>Tu tienda de confianza para equipar tu hogar con la última tecnología y electrodomésticos de máxima calidad. Garantía oficial y envíos a todo el país.</p>
                <div class="footer-socials">
                    <a href="#" class="social-icon" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="social-icon" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="social-icon" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>

            <div class="footer-col">
                <h4>Navegación</h4>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/producto">Catálogo Completo</a></li>
                    <li><a href="/carrito">Mi Carrito</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Categorías</h4>
                <ul>
                    <li><a href="/producto">Grandes Electrodomésticos</a></li>
                    <li><a href="/producto">Pequeños Electrodomésticos</a></li>
                    <li><a href="/producto">Tecnología y Café</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Contacto & Soporte</h4>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-headset"></i> Soporte 24/7</a></li>
                    <li><a href="#"><i class="fa-solid fa-truck-fast"></i> Envíos a todo el país</a></li>
                    <li><a href="#"><i class="fa-solid fa-shield-halved"></i> Garantía Oficial</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-divider"></div>

        <div class="footer-bottom">
            <p>© 2026 FullHouse. Todos los derechos reservados. Desarrollado con estándares de calidad de Agencia Premium.</p>
        </div>
    </div>
</footer>

<script src="/js/script.js"></script>
