<footer class="container-footer">
            
    <div class="logo-footer">
        <img src="img/FullHouse-Icono.ico" alt="">
    </div>

    <div class="redes-footer">
        <a href="#"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
        <a href="#"><i class="fab fa-google-plus-g icon-redes-footer"></i></a>
        <a href="#"><i class="fab fa-instagram icon-redes-footer"></i></a>
    </div>

    <hr>
    <h4>© 2021 Equipo7 - Todos los Derechos Reservados</h4>

</footer>

