<header>


    <div class="header-content">

        <div class="logo">
            <img src="/img/FullhouseV7.png" class="logotipo">


        </div>

        <div class="menu" id="show-menu">

            <nav>
                <ul>
                    <li>
                        <form action="/buscar" method="GET" class="search-mobile">
                            <input type="text" name="keyword" class="search_input" placeholder="Click para buscar..." />
                            <button type="submit" class="search_buton">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </li>
                    <li class="menu_items">
                        <a href="/">
                            <i class="fas fa-home"></i>
                            Inicio
                        </a>
                    </li>
                    <li class="menu_items">
                        <a href="/producto">
                            <i class="fas fa-box-open"></i>
                            Productos
                        </a>
                    </li>


                    <% if (locals.userLogged && locals.userLogged.admi == 1) { %>
                    <li class="menu_items">
                        <a href="/producto/nuevo">
                            <i class="fas fa-home"></i>
                            Nuevo
                        </a>
                    </li>
                    <% } %>

                    <% if (locals.userLogged) { %>
                    <li class="menu_items dropdown">

                        <a href="/usuario/perfil"> <i class="fas fa-user"></i> <%= locals.userLogged.user %></a>
                        <div class="dropdown-content">
                            <a id="content" href="/usuario/perfil">Perfil</a>
                            <a id="content" href="/usuario/salir">Cerrar sesión</a>
                        </div>

                    </li>

                    <% } else { %>
                    <li class="menu_items">
                        <a href="/usuario/ingresar">
                            <i class="fas fa-user"></i>
                            Logeate
                        </a>
                    </li>
                    <li class="menu_items">
                        <a href="/usuario/registro" class="text-menu-selected">
                            <i class="fas fa-file-alt"></i>Registrate
                        </a>
                    </li>
                    <% } %>
                    <li>
                        <a href="/carrito">
                            <i class="fas fa-shopping-cart icono_carrito"></i>
                            <span class="cart-text">
                                Carrito
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <form action="/buscar" method="GET" class="search-desktop">
            <input type="text" name="keyword" class="search_input" placeholder="Click para buscar..." />
            <button type="submit" class="search_buton">
                <i class="fa fa-search"></i>
            </button>
        </form>

        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>

    </div>






</header>