<header>
    
    
    <div class="header-content">
        
        <div class="logo">
            <img src="/img/FullhouseV7.png" class="logotipo">
            <img src="img/FullHouse-Icono.ico" alt="" class="logoPequeño">
            
        </div>

        <div class="menu" id="show-menu">

            <nav>
                <ul>
                    <li>
                        <form action="/buscar" method="GET" class="search-mobile">
                            <input type="text" name="keyword" class="search_input" placeholder="Click para buscar..." />
                            <button type="submit" class="search_buton">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </li>
                    <li class="menu_items">
                        <a href="/"> 
                            <i class="fas fa-home"></i> 
                            Inicio
                        </a>
                    </li>
                    <li class="menu_items">
                        <a href="/usuario/ingresar"> 
                            <i class="fas fa-user"></i>
                            Logeate
                        </a>
                    </li>
                    <li class="menu_items">
                        <a href="/usuario/registro" class="text-menu-selected"> 
                            <i class="fas fa-file-alt"></i>Registrate
                        </a>
                    </li>
                    <li >
                        <a href="/carrito">
                            <i class="fas fa-shopping-cart icono_carrito"></i>
                            <span class="cart-text">
                                Carrito
                            </span>
                        </a>
                    </li>
                </ul>  
            </nav>

        </div>

        <form action="/buscar" method="GET" class="search-desktop">
            <input type="text" name="keyword" class="search_input" placeholder="Click para buscar..." />
            <button type="submit" class="search_buton">
                <i class="fa fa-search"></i>
            </button>
        </form>

        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>

    </div>

    
    

   

</header>